---
BasedOnStyle: LLVM
Language: Cpp

# Width
ColumnLimit: 120

# Tabs
UseTab: Always
IndentWidth: 4
TabWidth: 4

# Visibility
AccessModifierOffset: -4

# Constructors
BreakConstructorInitializers: BeforeComma

# Pointers
PointerAlignment: Left

# Function declarations
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: true
...
